[Text]
label_title =人群密度检测系统 v1.0
label_website_2 = 知乎：思绪无限
label_author = B站：思绪亦无限
label_website = wuxian.blog.csdn.net
label_time_result = 0 s
label_numer_result = 0
label_class_result = 0
label_score_result = 0
label_xmin_result = 0
label_ymin_result = 0
label_xmax_result = 0
label_ymax_result = 0
textEdit_pic = 选择图片文件
textEdit_video = 选择视频文件
textEdit_camera = 摄像头未开启
[Icon]
windowIcon = :/images/icons/count.png                             
mainWindow = :/images/icons/back-image.png
toolButton_saveing = :/images/icons/save.png
toolButton_settings = :/images/icons/settings.png
toolButton_author = :/images/icons/author.png
toolButton_version = :/images/icons/versions.png
toolButton_file = :/images/icons/recovery.png
toolButton_video = :/images/icons/video.png
toolButton_camera = :/images/icons/g1.png
toolButton_model = :/images/icons/model.png
toolButton_folder = :images/icons/folder.png
label_picTime = :/images/icons/net_speed.png
label_picNumber = :/images/icons/count.png
label_picSelect = :/images/icons/selection.png
label_picResult = :/images/icons/result.png
label_picConf = :/images/icons/Score.png
label_picLocation = :/images/icons/Ordinateur.png
label_display = :/images/icons/ini-image.png
[Dialog]
windowIcon = :/login/icons/bird-logo.png
btn_minimize = :/login/icons/minmax.png
btn_close = :/login/icons/extractLeft.png
label_pic = :/login/icons/user.png
label_movie = :/login/icons/person1.gif
label_pic_reg = :/login/icons/user.png
toolButton_verCode = :/login/icons/captcha_1.png
checkBox_remenber_unchecked = :/login/icons/check.png
checkBox_remenber_checked = :/login/icons/checked.png
user_logo = :/login/icons/logo2.png
password = :/login/icons/logo3.png
vercode_logo = :/login/icons/logo4.png
lineEdit_back = :/login/icons/logo1.png